<div class="container-fluid padding-left-right-32">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="content-heading">{{'subscription_page_create_subscription' | translate}}</h1>
    </div>
  </div>
  <div class="white-bg">
    <div class="row">
      <div class="col-lg-12">
        <div class="white-bg-subHeading">{{ 'basic_information' | translate}}</div>
      </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="addCompany()" class="row create-form">
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="companyName">{{ 'company_name' | translate}}</label>
        <input type="text" class="form-control" placeholder=" {{ 'placeholder_text' | translate }}"
          formControlName="companyName" id="" />
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="CompanyRepresentativeName">{{ 'company_name_represntaive' | translate}}</label>
        <input type="text" class="form-control" placeholder=" {{ 'placeholder_text' | translate }}"
          formControlName="companyRepName" />
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="companyEmail">{{ 'company_email' | translate}}</label>
        <input type="email" class="form-control" placeholder=" {{ 'placeholder_text' | translate }}"
          formControlName="companyEmail" />
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="companyContactNumber">{{ 'company_contact_number' | translate}}</label>
        <div class="flex-input" formArrayName="companyContact" >
          <input type="number" class="form-control" formControlName="1" (change)="changeWebsite($event)"  placeholder="Number 1" />
          <input type="number" class="form-control" formControlName="2" (change)="changeWebsite($event)"  placeholder="Number 2"  />
        </div>
     
      </div>

      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="CompanyCountry">{{ 'company_country_select' | translate}}</label>
        <select id="" class="form-control" formControlName="companyCountryId">
          <option value="" selected disabled>
            <!-- {{ 'please_select' | translate}} -->
            {{'please_select_country'|translate}}
          </option>
          <!-- 
          <option value="1">{{ 'company_country_value' | translate}}</option>
          <option value="2">Saudia</option>
          <option value="3">Qatar</option>
          <option value="4">Oman</option>
          <option value="5">Yeman</option> -->
          <option *ngFor="let country of CountryResponce" value="{{country._id}}"> {{country.name}}</option>
        </select>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="CompanyCity">{{ 'company_city_select' | translate}}</label>
        <select id="" class="form-control" formControlName="companyCityId">
          <option value="" selected disabled>{{ 'please_select' | translate}}</option>
          <!-- <option value="1">{{'company_city_value' | translate}}</option>
          <option value="2">Riyadh</option>
          <option value="3">Abu Dhabi</option>
          <option value="4">Sharjah</option> -->
          <option *ngFor="let city of CityResponce " value="{{city._id}}"> {{city.name}}</option>
        </select>
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="CompanyType">{{ 'company_type' | translate}}</label>
        <select id="" class="form-control" formControlName="companyType">
          <option value="" selected disabled>{{ 'please_select' | translate}}</option>
          <option value="Installation & Maintenance">{{'installation_maintenance'|translate}}</option>
          <option value="Maintenance">{{'maintenance'|translate}}</option>
        </select>}
      </div>
      <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <label for="AccountType">{{ 'account_type' | translate}}</label>
        <select id="" class="form-control" formControlName="companyAccountType">
          <option value="" selected disabled>{{ 'please_select' | translate}}</option>
          <option value="Subscription">{{'subscription'|translate}}</option>
          <option value="Trail">{{'trial'|translate}}</option>
        </select>
      </div>
      <div class="col-lg-12">
        <div class="white-bg-subHeading">{{ 'user_information' | translate}}</div>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoClient">{{ 'no_of_clients' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoClient" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoMaintenanceManager">{{'no_of_maintenance_manager' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoMaintenanceManager" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoMaintenanceTechnician">{{'no_of_maintenance_technicians' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoMaintenanceTechnician" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoMaintenanceRepairTechnician">{{ 'no_of_maintenance_repair_technicians' |
          translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoMaintenanceRepairTechnician" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoInstallationManager">{{ 'no_of_installation_manager' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoInstallationManager" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoInstallationTechnician">{{ 'no_of_installlation_technicians' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoInstallationTechnician" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoDashboardUsers">{{'no_of_dashboard_users' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoDashboardUsers" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoCitiesAllowed">{{ 'no_of_cities_allowed' | translate}}</label>
        <input type="number" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoCitiesAllowed" />
      </div>
      <div class="col-lg-12">
        <div class="white-bg-subHeading">{{ 'no_of_trail_day_details' | translate}}</div>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyTrailDays">{{'no_of_trail_days' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyTrailDays" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyTrailStartDate">{{'trails_start_date' | translate}}</label>
        <input type="date" class="form-control" formControlName="companyTrailStartDate" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyTrailEndDate">{{ 'trails_end_date' | translate}}</label>
        <input type="date" class="form-control" value="" formControlName="companyTrailEndDate" />
      </div>
      <div class="col-lg-12">
        <div class="white-bg-subHeading">{{ 'subscription_detail' | translate}}</div>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoSubscriptionYears">{{ 'no_of_subscription_years' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyNoSubscriptionYears" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoSubscriptionStartDate">{{ 'subscription_start_date' | translate }}</label>
        <input type="date" class="form-control" formControlName="companyNoSubscriptionStartDate" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyNoSubscriptionEndDate">{{ 'subscription_end_date' | translate}}</label>
        <input type="date" class="form-control" value="" formControlName="companyNoSubscriptionEndDate" />
      </div>
      <!-- <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companySubscriptionFee">{{ 'additional_free' | translate}}</label>
        <input
        type="date"
        class="form-control"
        formControlName="companySubscriptionFee"
      />
     </div> -->
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companySubscriptionFee">{{ 'subscription_price' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companySubscriptionFee" />
      </div>
      <div class="col-lg-12">
        <div class="white-bg-subHeading">{{ 'bank_details' | translate}} </div>
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyBankName">{{ 'bank_name' | translate}} </label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyBankName" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyBankIBAN">{{ 'iban_number' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyBankIBAN" />
      </div>
      <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <label for="companyBankCity">{{'bank_city_name' | translate}}</label>
        <input type="text" class="form-control" placeholder="{{ 'placeholder_text' | translate}}"
          formControlName="companyBankCity" />
      </div>
      <div class="col-lg-12 text-right">
        <!-- <app-update-btn></app-update-btn> -->
        <app-cancel-btn></app-cancel-btn>
        <app-reset-btn></app-reset-btn>
        <app-submit-btn></app-submit-btn>

      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>