<div class="container-fluid padding-left-right-32">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="content-heading">{{ 'ticketing_system' | translate}}</h1>
      </div>
    </div>

    <div class="row custom-form-group">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{ 'search' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/search.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_country' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_city' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder=" {{'filter_by_subscription_date' | translate}} ">
                <span class="special_icon"><img src="./../../../../assets/images/3586371_calendar_date_schedule_icon.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_priority' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
    </div>
    <div class="white-bg">
        <div class="row">
          <div class="col-lg-12">
            <div class="white-bg-subHeading">{{ 'ticket_listing' | translate}}</div>
          </div>
        </div>
        <div class="row my-4 mx-1" *ngIf="TicketList">
            <table class="table theme-table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'company_name' | translate}}</th>
                        <th>{{ 'ticket_title' | translate }}</th>
                        <th>{{ 'ticket_date' | translate}}</th>
                        <th>{{ 'ticket_priority' | translate}}</th>
                    </tr>
                </thead>
                <tbody  *ngFor='let ticket of TicketList'>
                  
                 
                        <tr  *ngIf=" ticket.isDeleted === false">
                            <td><a href="" routerLink="ticketpageview"> {{ticket.company[0].companyName}}</a></td>
                            <td>{{ticket.ticketTitle}}</td>
                            <td>{{ticket.createdAt  | date:'yyyy-MM-dd'}}</td>
                            <td>{{ticket.ticketPriority}}</td>
                        </tr>
                 </tbody>
            </table>
        </div>
    </div>
    </div>

    <app-footer></app-footer>
