.inner-card{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 2px 6px 1px lightgrey;
    margin-top: 10px;
}
.image-text{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 10px;
}
.home-card-text{
    font-size: 48px;
    font-weight: 700;
    color: var(--theme-blue);
}
.description-text{
    opacity: 0.8;
    margin-top: 20px;
    text-align: center;
    min-height: 48px;
}
.description-text p{
    margin-bottom: 0;
}
.home-card-image img{
    max-height: 73px;
}