<div class="loginBody">

    <div class="loginBox">
        <!-- <h1>{{title}}</h1> -->
    
       <div class="text-center"> <img src="./../../../../assets/images/logo.png" class="login--img" /></div>
        <h3 class="login--heading">{{'welcome'|translate}}</h3>
        <p>{{'login_prompt'|translate}}</p>
        <form [formGroup] = "formGroup"  (ngSubmit)="loginProcess()" class="mt-4"> 
            <div class="form-group">
              <label for="forContact">{{'contact'|translate}}</label>
              <input type="text" required formControlName="contact"  class="form-control" id="forContact" placeholder="Enter contact Number">
            </div>
            <div class="form-group">
              <label for="forPassword">{{'password'|translate}}</label>
              <input type="password" required formControlName="password"   class="form-control" id="forPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">{{'login'|translate}}</button>
          </form>
    </div>
    </div>