<!-- <div class="container-fluid padding-left-right-32">
    <div class="row custom-form-group">
      <div class="col-lg-6">
        <h1 class="content-heading">Home</h1>
      </div>
      <div class="col-lg-4 offset-lg-2">
       
            <div class="form-group">
                <input type="date" class="form-control" placeholder="Filter by Subscription Date">
                <span class="special_icon"><img src="./../../../../assets/images/3586371_calendar_date_schedule_icon.svg" alt=""></span>
            </div>
      </div>
    </div>
    <div class="row">
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Total Clients" figure="253"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Today Maintenance" figure="03"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Monthly Maintenance" figure="27"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Total Complain" figure="31"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="New Complain" figure="18"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Solved Complain" figure="22"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Total Installation" figure="45"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="New Installation" figure="05"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Complain Visits" figure="178"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Paid Bills" figure="248"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Unpaid Bills" figure="05"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Total Income" figure="37,578"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Monthly Income" figure="214,245"></app-client-dashboard-card>
        <app-client-dashboard-card class="col-lg-3 col-md-4 col-sm-6" text="Today Income" figure="7,147"></app-client-dashboard-card>
    </div>
   </div> -->


   <div class="main-wrapper">
    <app-sidebar></app-sidebar>
      <div class="content">
         <app-topbar></app-topbar>
         
         <router-outlet></router-outlet>
      </div>
  </div>