<div class="container-fluid padding-left-right-32">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="content-heading">{{'members_page_heading' | translate}}</h1>
      </div>
    </div>

    <div class="row custom-form-group">
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{ 'search' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/search.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_country' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_city' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder=" {{'filter_by_subscription_date' | translate}} ">
                <span class="special_icon"><img src="./../../../../assets/images/3586371_calendar_date_schedule_icon.svg" alt=""></span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{'filter_by_account_type' | translate}}">
                <span class="special_icon"><img src="./../../../../assets/images/filter.svg" alt=""></span>
            </div>
        </div>
    </div>
    <div class="white-bg" >
        <div class="row">
          <div class="col-lg-12">
            <div class="white-bg-subHeading">{{'member_listing' | translate}}</div>
         
          </div>
        </div>
        <div class="row my-4 mx-1">
            <table class="table theme-table table-bordered" *ngIf="MemberList">
                <thead>
                    <tr>
                        <th>{{ 'th_company_name' | translate}}</th>
                        <th>{{ 'th_account_type' | translate}}</th>
                        <th>{{ 'company_type' | translate}}</th>
                        <th>{{ 'th_subscription_period' | translate}}</th>
                        <th>{{ 'th_country_name' | translate}}</th>
                        <th>{{ 'company_email' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngFor='let member of companyList'>
                    <tr>
                        <!-- Key: {{item.key}} -->
                        <td><a href="" routerLink="memberViewPage">{{member.companyName}}</a></td>
                        <td>{{member.companyAccountType}}</td>
                        <td>{{member.companyType}}</td>
                        <td>{{member.companyNoSubscriptionYears}} {{'years'|translate}}</td>
                        <td>{{member.country.name}}</td>
                        <td>{{member.companyEmail}}</td>
            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>

    <app-footer></app-footer>