.cancel-btn{
    background-color: var(--theme-red);
    color: #fff;
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    margin: 0 5px;
    min-width: 115px;
    box-shadow: 1px 1px 3px 1px lightgrey;
    border: 1px solid transparent;
    transition: all 0.3s;
    font-size: 14px;
}
.cancel-btn:hover{
    background-color: #fff;
    color: var(--theme-red);
    border-color: var(--theme-red);
}

.cancel-btn span.text{
    margin-left: 4px;
}


.save-btn{
    background-color: var(--theme-green);
    color: #fff;
    border-radius: 100px;
    padding: 5px 20px;
    border: none;
    margin: 0 5px;
    min-width: 115px;
    box-shadow: 1px 1px 3px 1px lightgrey;
    border: 1px solid transparent;
    transition: all 0.3s;
    font-size: 14px;
}

.save-btn:hover{
    background-color: white;
    border-color: var(--theme-green);
    color: var(--theme-green);
}
.save-btn span.text{
    margin-left: 4px;
}