.innerBox{
	background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 4px 0px #e9e7e7;
	text-align: center;
	margin-top: 10px;
	transition: all 0.3s;
}

.innerBox h1{
	color: var(--theme-blue)
}
.innerBox p{
	padding-bottom: 0px;
	margin-bottom: 0px !Important;
	color: gray;
}